body{
    background-color: #f8f9fa;
}
.card{
    border-radius: 10px;
}

.dark-theme {
  background-color: #121212;
  color: #f8f9fa;
}
.dark-theme .card {
  background-color: #1e1e1e;
  color: #f8f9fa;
}
